.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.recipe-box {
  border: 5px solid gray;

}



.recipe-box ul {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.recipe-title {
  border: 2px dotted teal;
  list-style-type: none;
  margin: 10px 0;
  text-align: left;
  padding-left: 10px;
}

.ingredient-box {
  border: 1px solid #000;
  overflow: hidden;
  text-align: left;
  padding-left: 20px;
  list-style-type: circle;
}

.ingredient-box li {
  padding-left: 20px;
}
/* Temp styles */

.new-recipe-box,
.edit-recipe-box {
  border: 3px dashed teal;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgb(150, 150, 150);
}

.dialogue-box {
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  color: #fff;
  background-color: rgb(40, 40, 40);
  border-radius: 20px;
}

/* Temp styles */

button {
  margin: 20px 5px;
  height: 40px;
  background-color: teal;
  color: #fff;
  outline: 0;

}
