
.App {
  text-align: center;
  min-width: 300px;
  max-width: 700px;
  margin: 0 auto;
}

.App-header a:link, .App-header a:visited,
.App-header a:hover, .App-header a:active {
	color: rgb(190, 246, 250);
}

.App-footer a:link, .App-footer a:visited,
.App-footer a:hover, .App-footer a:active {
	color: rgb(190, 246, 250);;
}

 a:link, a:visited,
 a:hover, a:active {
	text-decoration: none;
  color: #000;
}

.App-header {
  margin: 0 auto;
  background-color: #444;
  height: 110px;
  padding: 10px;
  color: white;
  min-width: 300px;
  max-width: 700px;
}

.App-header h1 {
  margin-top: 0;
  margin-bottom: 2px;
  font-family: 'Cherry Swash', cursive;
}

.App-footer {
  margin: 10px auto;
  background-color: #444;
  height: 40px;
  padding: 10px;
  color: white;
  min-width: 300px;
  max-width: 700px;
}

.fcc-title {
  font-size: .8em;
  font-weight: 100;
}

.project-title {
  font-size: 1.2em;
  font-weight: 100;
}

.App-intro {
  margin: 10px auto;
  max-width: 500px;
  min-width: 300px;
  margin-bottom: 10px;
}

.subtitle {
  margin-top: 2px;
  font: 1em Courier, monospace;
}

.github {
  text-align: center;
  font-weight: 100;
}

@media (max-width: 400px) {
  .github {
    text-align: center;
  }


}

.recipe-box {
  border: 5px solid gray;
  margin-top: 10px;

}

.recipe-box ul {
  /*padding: 0 20px 20px 20px;
  padding-top: 20px;
  padding-bottom: 20px;*/
  /*list-style-type: none;*/
  padding-left: 0;
  margin-left: 0;
}
.recipe-box li {
  list-style-type: none;

}

.recipe-title {
  background-color: rgb(231, 251, 244);
  list-style-type: none;
  margin-top: 10px;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
  font-size: 1.5em;
}

.recipe-title:hover {
  background-color: rgb(200, 200, 40);
}

.ingredients-title {
  text-decoration: underline;
  text-align: left;
}



.ingredient-box {
  overflow: hidden;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 8px;
  font-size: 1em;
  font-style: italic;
  background-color: rgb(240, 240, 240);
}

.ingredient-box li {
  padding-left: 10px;
}
/* Temp styles */

.dialogue-mask {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(150, 150, 150, .9);
  min-width: 300px;
  max-width: 700px;
  margin: 0 auto;
}

.dialogue-box {
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  color: #fff;
  background-color: rgb(40, 40, 40);
  border-radius: 20px;
}

/* Temp styles */

.button-container {
  margin-top: 15px;
}

button {
  outline: 0;
  border: 3px solid teal;
  border-radius: 20px;
  background-color: teal;
  color: #fff;
  padding: .3em;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 5px;
}

button:active {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.edit-recipe-button {
  margin-top: 10px;
  font-size: .5em;
}
