.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.recipe-box {
  border: 5px solid gray;

}



.recipe-box ul {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.recipe-title {
  border: 2px dotted teal;
  list-style-type: none;
  margin: 10px 0;
  text-align: left;
  padding-left: 10px;
}

/* Temp styles */

.new-recipe-box,
.edit-recipe-box {
  border: 1px dashed teal;
  margin: 15px 0;
}


/* Temp styles */

button {
  margin: 20px 5px;
  height: 40px;
  background-color: teal;
  color: #fff;
  outline: 0;

}
